In [1]:
my_list=[3,6,9,12]

In [2]:
for number in my_list:
    print(number)

3
6
9
12

In [3]:
for item in my_list:
    new_number=item*5
    print(new_number)

15
30
45
60

In [5]:
for number in my_list:
    new_number=number%2
    print(new_number)

1
0
1
0

In [7]:
for number  in my_list:
    if number %2 ==0:
        print(number)

6
12

In [14]:
my_list=[2,3,6,9,12]
if 2 in my_list:
    print("true")

true

In [15]:
for num in my_list:
    if num==2:
        print("true")

true

In [16]:
my_string="songül kızılay"

In [17]:
for letter in my_string:
    print(letter)

s
o
n
g
ü
l

k
ı
z
ı
l
a
y

In [18]:
my_tuple=(1,2,3,4,5)

In [20]:
for item in my_tuple:
    print(item*3.14)

3.14
6.28
9.42
12.56
15.700000000000001

In [21]:
my_new_list=[("a","b"),("c","d"),("e","f"),("g","h")]

In [22]:
for harf in my_new_list:
    print(harf)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [27]:
for (x,y) in my_new_list:
    print(y)
    print(x)

b
a
d
c
f
e
h
g

In [29]:
my_tuple_list=[(0,1,2),(3,4,5),(6,7,8)]

In [30]:
for (x,y,z) in my_tuple_list:
    print(y,x)

1 0
4 3
7 6

In [33]:
my_dictionary={"key1":100,"key2":200,"key3":300,"key4":450}

In [36]:
my_dictionary.items()

dict_items([('key1', 100), ('key2', 200), ('key3', 300), ('key4', 450)])

In [39]:
for a,b in my_dictionary.items():
    print(b,a)

100 key1
200 key2
300 key3
450 key4